---

Date: 2020-07-27

Progress: 1/3

# 2872번. 우리집엔 도서관이 있어

## 문제

상근이는 컴퓨터 공학의 일인자가 되기 위해 책을 매우 많이 구매했다. 하지만, 집에 책장이 없어서 책을 탑처럼 쌓아놓고 있다.

오늘은 오랜만에 상근이가 집에서 휴식을 취하는 날이다. 상근이는 책을 알파벳 순서대로 정렬하려고 한다. 사전 순으로 가장 앞서는 책은 가장 위에 놓고, 가장 뒤에 있는 책은 가장 밑에 놓아야 한다. 책을 정렬할 때 사용할 수 있는 방법은 책 하나를 뺀 다음, 가장 위에 놓는 것이다.

책은 1부터 N까지 번호가 책 이름의 사전 순으로 매겨져 있다. 1은 사전 순으로 가장 앞서는 책이다. 따라서, 위에서부터 책의 번호를 읽으면 (1, 2, ..., N)이 되어야 한다. 예를 들어, 책이 3권있고 처음에 (3, 2, 1)로 쌓여있을 때, 2번 만에 사전순으로 책을 쌓을 수 있다. 가장 먼저, 2번 책을 뺀 다음에 가장 위에 놓는다. 그렇게 되면 (2, 3, 1)이 된다. 마지막으로, 1을 뺀 다음 가장 위에 놓으면 (1, 2, 3)이 된다.

현재 책이 어떻게 쌓여있는지가 주어졌을 때, 몇 번만에 사전 순으로 쌓을 수 있는지 구하는 프로그램을 작성하시오.

## 입력

첫째 줄에 책의 개수 N이 주어진다. (N ≤ 300,000)

다음 N개 줄에는 가장 위에 있는 책부터 아래에 있는 책까지 순서대로 주어진다.

## 출력

첫째 줄에 몇 번만에 책을 정렬할 수 있는지 출력한다.

In [ ]:
N = int(input())
books = []

for i in range(N):
    books.append(int(input))

lowest_idx = books.index(N)

hello world!

In [ ]:
(1 2 3)
1 3 2 / 3 2 1

(2 1 3)
1 3 2 / 1 2 3

(1 2 3 4)
1 2 4 3 / 1 4 3 2 / 4 3 2 1

(1 3 2 4)
1 2 4 3 / 1 4 3 2 / 4321

(2 1 4 3)
1432 / 4321
(3 4 1 2)
4123 / 4132 / 4321

(3 1 4 2)
1423 / 1432 / 4321

# 1620번 나는야 포켓몬 마스터 이다솜

## 문제

생략

## 입력

첫째 줄에는 도감에 수록되어 있는 포켓몬의 개수 N이랑 내가 맞춰야 하는 문제의 개수 M이 주어져. N과 M은 1보다 크거나 같고, 100,000보다 작거나 같은 자연수인데, 자연수가 뭔지는 알지? 모르면 물어봐도 괜찮아. 나는 언제든지 질문에 답해줄 준비가 되어있어.

둘째 줄부터 N개의 줄에 포켓몬의 번호가 1번인 포켓몬부터 N번에 해당하는 포켓몬까지 한 줄에 하나씩 입력으로 들어와. 포켓몬의 이름은 모두 영어로만 이루어져있고, 또, 음... 첫 글자만 대문자이고, 나머지 문자는 소문자로만 이루어져 있어. 포켓몬 이름의 최대 길이는 20이야. 그 다음 줄부터 총 M개의 줄에 내가 맞춰야하는 문제가 입력으로 들어와. 문제가 알파벳으로만 들어오면 포켓몬 번호를 말해야 하고, 숫자로만 들어오면, 포켓몬 번호에 해당하는 문자를 출력해야해. 입력으로 들어오는 숫자는 반드시 1보다 크거나 같고, N보다 작거나 같고, 입력으로 들어오는 문자는 반드시 도감에 있는 포켓몬의 이름만 주어져. 그럼 화이팅!!!

## 출력

첫째 줄부터 차례대로 M개의 줄에 각각의 문제에 대한 답을 말해줬으면 좋겠어!!!. 입력으로 숫자가 들어왔다면 그 숫자에 해당하는 포켓몬의 이름을, 문자가 들어왔으면 그 포켓몬의 이름에 해당하는 번호를 출력하면 돼. 그럼 땡큐~

<img src='https://onlinejudgeimages.s3-ap-northeast-1.amazonaws.com/upload/201004/pn.PNG'>

이게 오박사님이 나에게 새로 주시려고 하는 도감이야. 너무 가지고 싶다ㅠㅜ. 꼭 만점을 받아줬으면 좋겠어!! 파이팅!!!

In [ ]:
import sys

N, M = map(int, input().split(' '))
pokelist = []
pokedict = {}

for i in range(N):
    poke = sys.stdin.readline().rstrip()
    pokelist.append(poke)
    pokedict[poke] = i+1

for j in range(M):
    q = sys.stdin.readline().rstrip()
    try:
        print( pokelist[int(q)-1] )
    except:
        print(pokedict[q])

3 1
Bulbasaur
Ivysaur
Venusaur
3
Venusaur

## 후기

1. 여러 줄을 읽기 위한 `sys.stdin.readline()` 함수의 사용

2. 번호 출력을 위해 `list.index()`를 사용하면 검색(?)에 시간이 오래 걸리기 때문에, dictionary 형태로 따로 저장 후 번호 출력.

# 1072번 게임

## 문제

김형택은 지금 몰래 Spider Solitaire(스파이더 카드놀이)를 하고 있다. 형택이는 이 게임을 이길 때도 있었지만, 질 때도 있었다. 누군가의 시선이 느껴진 형택이는 게임을 중단하고 코딩을 하기 시작했다. 의심을 피했다고 생각한 형택이는 다시 게임을 켰다. 그 때 형택이는 잠시 코딩을 하는 사이에 자신의 게임 실력이 눈에 띄게 향상된 것을 알았다.

이제 형택이는 앞으로의 모든 게임에서 지지 않는다. 하지만, 형택이는 게임 기록을 삭제 할 수 없기 때문에, 자신의 못하던 예전 기록이 현재 자신의 엄청난 실력을 증명하지 못한다고 생각했다.

게임 기록은 다음과 같이 생겼다.

* 게임 횟수 : X
* 이긴 게임 : Y (Z %)
* Z는 형택이의 승률이다. 소수점은 버린다. 예를 들어, X=53, Y=47이라면, Z = 88이다.


X와 Y가 주어졌을 때, 형택이가 게임을 몇 판 더해야 Z가 변하는지 구하는 프로그램을 작성하시오.

## 입력

각 줄에 X와 Y가 주어진다. X는 1,000,000,000보다 작거나 같은 자연수이고, Y는 0보다 크거나 같고, X보다 작거나 같은 자연수이다.

## 출력

첫째 줄에 형택이가 게임을 몇 판 해야하는지 출력한다. 만약 Z가 절대 변하지 않는다면 -1을 출력한다.

In [ ]:
import math

X, Y = map(int, input().split())

if Y >= 0.99*X:
    print('-1')
else:
    s = math.floor(100*Y/X) + 1 - 100*Y/X
    print(s)
    ans = (X*s - 100*Y) / (100-s)
    print(ans)
    print(math.ceil(ans))

10 8
1.0
-7.97979797979798
-7

---
Date: 2020-07-28

Progress: 5/5

# 2751번. 수 정렬하기 2

## 문제

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

## 입력

첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 숫자가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

## 출력

첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [ ]:
import sys

N = int(input())
arr = []

for i in range(N):
    arr.append(int(input()))
    # arr.append(int(sys.stdin.readline().rstrip()))

arr.sort(reverse=True)

for i in range(N):
    print(arr.pop())

3
3
2
1
1
2
3

# 11650번 좌표 정렬하기

## 문제

2차원 평면 위의 점 N개가 주어진다. 좌표를 x좌표가 증가하는 순으로, x좌표가 같으면 y좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

## 입력

첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

## 출력

첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

In [ ]:
import sys

N = int(input())
points = []

for i in range(N):
    x, y = map(int, input().split())
    point = (x, y)
    points.append(point)

points.sort(key = lambda x: (x[0], x[1]))

for i in range(len(points)):
    print(points[i][0], points[i][1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

## 후기

> [하나씩 점을 찍어가며](https://dailyheumsi.tistory.com/67)

* `lambda`를 이용하여 특정 조건(여기서는 특정 인덱스)에 대해 정렬

* 다중 조건을 적용하여 정렬하려면 `lambda` 함수에 tuple 형태로 넘겨줌.

# 11651번 좌표 정렬하기 2

## 문제

2차원 평면 위의 점 N개가 주어진다. 좌표를 y좌표가 증가하는 순으로, y좌표가 같으면 x좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

## 입력

첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

## 출력

첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

In [ ]:
import sys

N = int(input())
points = []

for i in range(N):
    x, y = map(int, input().split())
    point = (x, y)
    points.append(point)

points.sort(key=lambda x: (x[1], x[0]))

for i in range(len(points)):
    print(points[i][0], points[i][1])

# 10814번 나이순 정렬

## 문제

온라인 저지에 가입한 사람들의 나이와 이름이 가입한 순서대로 주어진다. 이때, 회원들을 나이가 증가하는 순으로, 나이가 같으면 먼저 가입한 사람이 앞에 오는 순서로 정렬하는 프로그램을 작성하시오.

## 입력

첫째 줄에 온라인 저지 회원의 수 N이 주어진다. (1 ≤ N ≤ 100,000)

둘째 줄부터 N개의 줄에는 각 회원의 나이와 이름이 공백으로 구분되어 주어진다. 나이는 1보다 크거나 같으며, 200보다 작거나 같은 정수이고, 이름은 알파벳 대소문자로 이루어져 있고, 길이가 100보다 작거나 같은 문자열이다. 입력은 가입한 순서로 주어진다.

## 출력

첫째 줄부터 총 N개의 줄에 걸쳐 온라인 저지 회원을 나이 순, 나이가 같으면 가입한 순으로 한 줄에 한 명씩 나이와 이름을 공백으로 구분해 출력한다.

In [ ]:
import sys

N = int(input())
members = []

for i in range(N):
    x, y = input().split()
    member = (int(x), y)
    members.append(member)

members.sort(key=lambda x: x[0])

for i in range(len(members)):
    print(members[i][0], members[i][1])

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

# 10825번 국영수

## 문제

도현이네 반 학생 N명의 이름과 국어, 영어, 수학 점수가 주어진다. 이때, 다음과 같은 조건으로 학생의 성적을 정렬하는 프로그램을 작성하시오.

1. 국어 점수가 감소하는 순서로
2. 국어 점수가 같으면 영어 점수가 증가하는 순서로
3. 국어 점수와 영어 점수가 같으면 수학 점수가 감소하는 순서로
4. 모든 점수가 같으면 이름이 사전 순으로 증가하는 순서로 (단, 아스키 코드에서 대문자는 소문자보다 작으므로 사전순으로 앞에 온다.)

## 입력

첫째 줄에 도현이네 반의 학생의 수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 한 줄에 하나씩 각 학생의 이름, 국어, 영어, 수학 점수가 공백으로 구분해 주어진다. 점수는 1보다 크거나 같고, 100보다 작거나 같은 자연수이다. 이름은 알파벳 대소문자로 이루어진 문자열이고, 길이는 10자리를 넘지 않는다.

## 출력

문제에 나와있는 정렬 기준으로 정렬한 후 첫째 줄부터 N개의 줄에 걸쳐 각 학생의 이름을 출력한다.

In [ ]:
import sys

N = int(input())
grades = []

for i in range(N):
    name, x, y, z = input().split()
    grade = (name, int(x), int(y), int(z))
    grades.append(grade)

grades.sort(key=lambda x: (-x[1], x[2], -x[3], x[0]))

for i in range(len(grades)):
    print(grades[i][0])

12
Junkyu 50 60 100
Sangkeun 80 60 50
Sunyoung 80 70 100
Soong 50 60 90
Haebin 50 60 100
Kangsoo 60 80 100
Donghyuk 80 60 100
Sei 70 70 70
Wonseob 70 70 90
Sanghyun 70 70 80
nsj 80 80 80
Taewhan 50 60 90
Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan

## 후기

> [공식문서: 다중 조건 정렬 모듈, operator](https://docs.python.org/ko/3/howto/sorting.html#operator-module-functions)

> [불확실! 조건별 오름/내림 차순 정렬에 대한 글](https://studyforus.com/tipnknowhow/659339)

---

Date: 2020-07-29

Progress:

어떤 대상을 순서에 따라 배열한 것을 순열이라고 합니다. 

예를 들어 3124는 숫자 1, 2, 3, 4로 만들 수 있는 순열 중 하나입니다.
   
이렇게 만들 수 있는 모든 순열을 숫자나 문자 순으로 늘어놓은 것을 사전식(lexicographic) 순서라고 합니다.

0, 1, 2로 만들 수 있는 사전식 순열은 다음과 같습니다. 

012   021   102   120   201   210

## 문제

0, 1, 2, 3, 4, 5, 6, 7, 8, 9로 만들 수 있는 사전식 순열에서 1,000,000번째는 무엇입니까?

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result = result*i
    return result

factorials = [factorial(i) for i in range(1,11)]

print(factorials)
print(len(factorials))

factorials.sort(reverse=True)
factorials = factorials[:9]
print(factorials)

N = 1000000

ans = []


for f in factorials:
    if N%f == 0:
        ans.append('END')
    else:
        ans.append(N//f)
    N = N%f

print(ans)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]
10
[3628800, 362880, 40320, 5040, 720, 120, 24, 6, 2]
[0, 2, 6, 6, 2, 5, 1, 2, 'END']

2671804359

In [ ]:
candi = [i for i in range(10)]
print(candi)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
candi.pop(2)
candi

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
candi.pop(5)
candi

[0, 1, 3, 4, 5, 7, 8, 9]

In [ ]:
candi.pop(5)
candi

[0, 1, 3, 4, 5, 8, 9]

In [ ]:
candi.pop(1)
candi

[0, 3, 4, 5, 8, 9]

In [ ]:
candi.pop(4)
candi

[0, 3, 4, 5, 9]

In [ ]:
candi.pop(0)
candi

[3, 4, 5, 9]

In [ ]:
candi.pop(1)
candi

[3, 5, 9]

# 2789번 블랙잭

## 문제

카지노에서 제일 인기 있는 게임 블랙잭의 규칙은 상당히 쉽다. 카드의 합이 21을 넘지 않는 한도 내에서, 카드의 합을 최대한 크게 만드는 게임이다. 블랙잭은 카지노마다 다양한 규정이 있다.

한국 최고의 블랙잭 고수 김정인은 새로운 블랙잭 규칙을 만들어 상근, 창영이와 게임하려고 한다.

김정인 버전의 블랙잭에서 각 카드에는 양의 정수가 쓰여 있다. 그 다음, 딜러는 N장의 카드를 모두 숫자가 보이도록 바닥에 놓는다. 그런 후에 딜러는 숫자 M을 크게 외친다.

이제 플레이어는 제한된 시간 안에 N장의 카드 중에서 3장의 카드를 골라야 한다. 블랙잭 변형 게임이기 때문에, 플레이어가 고른 카드의 합은 M을 넘지 않으면서 M과 최대한 가깝게 만들어야 한다.

N장의 카드에 써져 있는 숫자가 주어졌을 때, M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 구해 출력하시오.

## 입력

첫째 줄에 카드의 개수 N(3 ≤ N ≤ 100)과 M(10 ≤ M ≤ 300,000)이 주어진다. 둘째 줄에는 카드에 쓰여 있는 수가 주어지며, 이 값은 100,000을 넘지 않는다.

합이 M을 넘지 않는 카드 3장을 찾을 수 있는 경우만 입력으로 주어진다.

## 출력

첫째 줄에 M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 출력한다.

In [12]:
N, M = map(int, input().split())

cards = input().split()

for i,c in enumerate(cards):
    cards[i] = int(c)

indices = []

for i in range(N-2):
    for j in range(i+1, N-1):
        for k in range(j+1, N):
            indices.append([i, j ,k])

candies = []

for idx in indices:
    candies.append( cards[idx[0]]+cards[idx[1]]+cards[idx[2]] )

print(candies)
candies.sort()

ans = []

for i, candy in enumerate(candies):
    result = M-candy
    if result < 0:
        ans.append(candies[i-1])
        break

try:
    print(ans[0])
except:
    print(max(candies))

5 21
1 2 3 4 5
[6, 7, 8, 8, 9, 10, 9, 10, 11, 12]
12

## 노트

인덱스의 집합을 만들어서 그 인덱스에 해당하는 값들의 합을 모두 후보로 저장
그 중 M을 넘지 않으면서 가장 가까운 후보 출력

## 후기

* <sub>n</sub>C<sub>3</sub>을 구현할 수 있는 다른 코드 찾아보기. 현재 삼중 for문으로 구현. __-> 다른 정답 코드 봐도 저게 최선인듯 싶다.__

* 가장 가까운 수를 찾기 위한 코드 찾아보기. __-> 모든 경우를 저장하지 않고 M보다 작은 것들만 저장한 후 sort해서 가장 마지막 값만 출력하더라__