# 이것이 취업을 위한 코딩 테스트다 with 파이썬

## 1. 코딩 테스트 개요 및 파이썬 문법

### 실수형

In [ ]:
a = 5.
print(type(a))
print(a)

<class 'float'>
5.0

In [ ]:
a = -.7
print(a)

-0.7

### 지수 표현 방식

e나 E를 이용하여 지수 표현 방식 이용.
* e, E 다음에 오는 수는 10의 지수부

기본적으로 지수 표현은 실수형. 따라서 필요에 따라 정수형으로 바꿔야 한다.

보통 최단 경로 알고리즘에서는 도달할 수 없는 노드에 대하여 최단 거리를 무한(INF)로 설정하곤 한다. (아래 셀 참조)

In [ ]:
INF = 1e9
print(INF)

1000000000.0

In [ ]:
INF = int(1e9)
print(INF)

1000000000

### 실수형 더 알아보기

오늘날 가장 널리 쓰이는 IEEE754 표준에서는 실수형을 저장하기 위해 4바이트 혹은 8바이트의 고정된 크기의 메모리에 할당.

따라서 실수 정보를 표현하는 정확도에 한계 존재.

예)   
10진수 체계에서는 0.3과 0.6을 더한 값이 0.9로 정확하게 나타남.  
하지만 2진수에서는 0.9를 정확히 표현할 수 있는 방법이 없음.

`round()`를 사용

In [ ]:
a = 0.3 + 0.6
print(a)

if a == 0.9:
    print('Hello')
else:
    print('World!')

0.8999999999999999
World!

In [ ]:
a = 0.3 + 0.6
print(round(a, 3))

0.9

### 수 자료형의 연산

* 나누기 연산자(/): 나눠진 결과를 실수형으로 반환하므로 유의.

* 나머지 연산자(%)

* 몫 연산자(//)

* 거듭 제곱 연산자(**)

In [ ]:
a = 7
b = 3

print(a/b)
print(a%b)
print(a//b)

2.3333333333333335
1
2

In [ ]:
# 나누기 연산자의 결과가 실수형으로 표현되는 예시
print(2/1)

2.0

In [ ]:
a = 5
b = 3

print(a ** b)
print(a ** (1/2))
print(a ** 0.5)

125
2.23606797749979
2.23606797749979

### 리스트 컴프리헨션

특히 NXM 크기의 2차원 리스트를 한 번에 초기화 해야 할 때 유용.

* 좋은 예: array = [ [0]\*m for _ in range(n) ]

* 잘못된 예: array = [ [0]\*m ] * n

In [ ]:
a = [ i for i in range(20) if i % 2 ==1 ]

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 2차원 리스트 좋은 예
N = 4
M = 3

arr = [[0]*M for _ in range(N)]
print(arr)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
# 2차원 리스트 초기화 나쁜 예

N = 4
M = 3
arr = [[0]*M]*N
print(arr)

arr[1][1] = 5
print(arr)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

2차원 리스트 초기화 시 나쁜 예시로 작성한다면, 주소값이 복사되어 생성되는 것이기 때문에 위 셀과 같이 하나의 값만 바뀌는 것이 아니라 해당하는 모든 값이 바뀐다.

### 리스트 관련 메서드

* append(): 리스트.append(값)
* sort(): 리스트.sort(). 원래 리스트가 변경
* sorted(): sorted(리스트). 정렬된 리스트의 결과를 반환. 원래 리스트는 변경 없음.
* reverse(): 리스트.reversed(). 리스트의 원소의 순서를 모두 뒤집어 놓는다. 정렬이 아님.
* insert(): 리스트.insert(인덱스, 값)
* count(): 리스트.count(특정 값). 리스트 내의 특정 값의 개수를 반환
* remove(): 리스트.remove(특정 값). 특정 값을 제거. 다만 특정 값이 여러 개일때는 하나만 제거.

In [ ]:
a = [5, 2, 4, 6, 8]
a.remove(4)
print(a)

[5, 2, 6, 8]

In [ ]:
# 리스트 내 특정 값 모두 제거
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

### 사전 자료형

dict는 해시 테이블을 이용하므로 데이터의 검색 및 수정에 있어서 O(1)의 시간에 처리 할 수 있다.

### 집합 자료형

흔히 어떤 값이 존재하는지 여부를 찾을 때 사용된다.

dict와 마찬가지로 O(1)의 시간 복잡도를 가진다.

list나 tuple은 데이터의 개수(길이)만큼 시간 복잡도를 가진다.

* 새로운 원소 추가: 세트.add(값)

* 새로운 원소 여러 개 추가: 세트.update([값1, 값2])

In [ ]:
a = {1,2,3}

print(2 in a)

True

### 람다 표현식

특정한 기능을 수행하는 함수를 한 줄에 작성 가능.

ex) `(lambda a, b: a+b)(3, 5)`

정렬 기준을 명시할 때 많이 사용 된다.

In [ ]:
arr = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

result = sorted(arr, key=lambda x: x[1])

print(result)

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

result = map(lambda a,b: a+b, list1, list2)

print(result)
print(list(result))

<map object at 0x7f03ac327160>
[7, 9, 11, 13, 15]

### 유용한 표준 라이브러리

* itertools: 파이썬에서 반복되는 형태의 데이터를 처리하는 기능을 제공하는 라이브러리. 순열과 조합 라이브러리를 제공.

* heapq: heap (힙) 기능을 제공하는 라이브러리. 우선순위 큐 기능을 구현하기 위해 사용.

* bisect: 이진 탐색 기능을 제공하는 라이브러리.

* collections: 덱(deque), 카운터(counter) 등의 유용한 자료구조를 포함하고 있는 라이브러리

In [ ]:
result = sum([1,2,3,4,5])
print(result)

min_result = min(7,3,5,2)
max_result = max(7,3,5,2)
print(min_result, max_result)

# eval() 함수는 유용. 입력에 대한 연산 결과를 바로 보여줌?
result = eval("(3+5)*7")
print(result)

15
2 7
56

### 순열과 조합

순열: <sub>n</sub> P <sub>r</sub>

조합: <sub>n</sub> C <sub>r</sub>

In [ ]:
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [ ]:
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
# 중복 순열
from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat=2))
print(result)

# 중복 순열
from itertools import combinations_with_replacement

data = ['A', 'B', 'C']

result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

### QnA

표준 라이브러리는 대부분 사용 가능.

그래도 순열, 조합은 시간 되면 직접 한 번 구현 해보자.

DFS, BFS 정도는 암기 정도가 되어야 한다.

---

## 그리디 N 구현

### 그리디 알고리즘

현재 상황에서 지금 당장 좋은 것만 고르는 방법.

그리디 해법은 정당성 분석이 중요. 즉, 단순히 가장 좋아 보이는 것을 반복적으로 선택해도 최적의 해를 구할 수 있는지 여부를 검토해야함.

__문제) 거스름 돈__

당신은 음식점의 계산을 도와주는 점원입니다. 카운터에는 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정합니다. 손님에게 거슬러 주어야 할 돈이 N원일 떄 거슬러 주어야 할 동전의 최소 개수를 구하세요. 단, 거슬로 줘야 할 돈 N은 항상 10의 배수입니다.

정당성 분석:  
가지고 있는 동전 중에서 큰 단위가 항상 작은 단위의 배수이기 때문에 가장 큰 화폐 단위부터 돈을 거슬러 주는 것이 최적의 해가 될 수 있다.

만약 800원을 거슬러 주어야 하는데 화폐 단위가 500원, 400원, 100원이라면?

In [1]:
n = 1260
count = 0

arr = [500, 100, 50, 10]

for coin in arr:
    count += n //coin
    n %= coin

print(count)

6

시간복잡도 분석:  
화폐의 종류가 K라고 할 때, 시간 복잡도는 O(K).  
이 알고리즘의 시간 복잡도는 거슬러줘야 하는 금액과는 무관하며, 동전의 총 종류에만 영향을 받음.

__문제) 1이 될 때까지__

어떤 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 합니다. 단, 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있습니다.

1. N에서 1을 뺍니다.
2. N을 K로 나눕니다.

예를 들어 N이 17, K가 4라고 가정합시다. 이때 1번의 과정을 한 번 수행하면 N은 16이 됩니다. 이후에 2번의 과정을 두 번 수행하면 N은 1이 됩니다. 결과적으로 이 경우 전체 과정을 실행한 횟수는 3이 됩니다. 이는 N을 1로 만드는 최소 횟수입니다.

N과 K가 주어질 때 N이 1이 될 때까지 1번 혹은 2번 과정을 수행해야하는 최소 횟수를 구하는 프로그램을 작성하세요.

정당성 분석:  
N이 아무리 큰 수여도, K로 계속 나눈다면 기하급수적으로 빠르게 줄일 수 있음.  
다시 말해 K가 2 이상이기만 하면, K로 나누는 것이 1을 빼는 것보다 항상 빠르게 N을 줄일 수 있음.

In [6]:
# J's code
n = 25
k = 3
cnt = 0

for _ in range(n-1):
    if n == 1:
        break
    elif n % k == 0:
        n /= k
        cnt += 1
    else:
        n -= 1
        cnt += 1

print(cnt)

6

In [8]:
# Dongbin's Code
# 빠르게 동작할 수 있도록 최적화가 되어 있는 코드
n, k = map(int, input().split())

result = 0

while True:
    # N이 K로 나누어 떨어지는 수가 될 때까지만 1씩 뺴기
    # 한번에 K로 나눠지는 값까지 빼는 것
    # 시간 복잡도를 위해 자주 사용되는 테크닉
    target = (n // k) * k
    result += (n - target)
    n = target
    # N이 K보다 작을 때 (더 이상 나눌 수 없을 때) 반복문 탈출
    if n < k:
        break
    # K로 나누기
    result += 1
    n //= k

# 마지막으로 남은 수에 대하여 1씩 빼기
result += (n - 1)
print(result)

25 3
6

__문제) 곱하기 혹은 더하기__

각자리가 숫자 (0부터 9)로만 이루어진 문자열 S가 주어졌을 때, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x' 혹은 '+' 연산자를 넣어 결과적으로 만들어질 수 있는 가장 큰 수를 구하는 프로그램을 작성하세요. 단, +보다 x를 먼저 계산하는 일반적인 방식과 달리, 모든 연산은 왼쪽에서부터 순서대로 이루어진다고 가정합니다.

예를 들어 02984라는 문자열로 만들 수 있는 가장 큰 수는 ((((0+2)X9)X8)X4)=576

In [15]:
# J's Code
S = '567'
S = list(map(int, S))
result = 0

for s in S:
    if s*result > s+result:
        result *= s
    else:
        result += s

print(result)

210

해결 아이디어:  
대부분 '+'보다 'x'가 값을 더 크게 만듬.  
다만 두 수 중에서 하나라도 0 혹은 1인 경우, 곱하기 보다는 더하기를 수행하는 것이 좋음.  
따라서 두 수에 대하여 연산을 수행할 때, 두 수중에서 하나라도 1 이하인 경우에는 더하며, 두 수가 모두 2 이상인 경우에는 곱셈 수행.

In [19]:
# Dongbin's Code
data = input()

# 첫 번째 문자를 숫자로 변경하여 대입
result = int(data[0])

for i in range(1, len(data)):
    # 두 수 중에서 하나라도 0 혹은 1인 경우, 곱하기보다는 더하기 수행
    num = int(data[i])
    if num <= 1 or result <= 1:
        result += num
    else:
        result *= num

print(result)

567
210

### 구현(Implementation)

알고리즘 대회에서 구현 유형의 문제란?  
풀이를 떠올리는 것은 쉽지만 소스코드로 옮기기 어려운 문제를 지칭.

구현 유형의 예시
* 알고리즘은 간단한데 코드가 지나칠 만큼 길어지는 문제
* 실수 연산을 다루고, 특정 소수점 자리까지 출력해야 하는 문제
* 문자열을 특정한 기준에 따라서 끊어 처리해야 하는 문제
* 적절한 라이브러리를 찾아서 사용해야 하는 문제

# 그리디& 구현 41분 25초!!!