<a href="https://colab.research.google.com/github/kjh50400/Coding-test/blob/master/DonbinNa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이것이 취업을 위한 코딩 테스트다 with 파이썬

## 1. 코딩 테스트 개요 및 파이썬 문법

### 실수형

In [2]:
a = 5.
print(type(a))
print(a)

<class 'float'>
5.0

In [3]:
a = -.7
print(a)

-0.7

### 지수 표현 방식

e나 E를 이용하여 지수 표현 방식 이용.
* e, E 다음에 오는 수는 10의 지수부

기본적으로 지수 표현은 실수형. 따라서 필요에 따라 정수형으로 바꿔야 한다.

보통 최단 경로 알고리즘에서는 도달할 수 없는 노드에 대하여 최단 거리를 무한(INF)로 설정하곤 한다. (아래 셀 참조)

In [4]:
INF = 1e9
print(INF)

1000000000.0

In [5]:
INF = int(1e9)
print(INF)

1000000000

### 실수형 더 알아보기

오늘날 가장 널리 쓰이는 IEEE754 표준에서는 실수형을 저장하기 위해 4바이트 혹은 8바이트의 고정된 크기의 메모리에 할당.

따라서 실수 정보를 표현하는 정확도에 한계 존재.

예)   
10진수 체계에서는 0.3과 0.6을 더한 값이 0.9로 정확하게 나타남.  
하지만 2진수에서는 0.9를 정확히 표현할 수 있는 방법이 없음.

`round()`를 사용

In [8]:
a = 0.3 + 0.6
print(a)

if a == 0.9:
    print('Hello')
else:
    print('World!')

0.8999999999999999
World!

In [12]:
a = 0.3 + 0.6
print(round(a, 3))

0.9

### 수 자료형의 연산

* 나누기 연산자(/): 나눠진 결과를 실수형으로 반환하므로 유의.

* 나머지 연산자(%)

* 몫 연산자(//)

* 거듭 제곱 연산자(**)

In [13]:
a = 7
b = 3

print(a/b)
print(a%b)
print(a//b)

2.3333333333333335
1
2

In [15]:
# 나누기 연산자의 결과가 실수형으로 표현되는 예시
print(2/1)

2.0

In [16]:
a = 5
b = 3

print(a ** b)
print(a ** (1/2))
print(a ** 0.5)

125
2.23606797749979
2.23606797749979

### 리스트 컴프리헨션

특히 NXM 크기의 2차원 리스트를 한 번에 초기화 해야 할 때 유용.

* 좋은 예: array = [ [0]\*m for _ in range(n) ]

* 잘못된 예: array = [ [0]\*m ] * n

In [17]:
a = [ i for i in range(20) if i % 2 ==1 ]

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
# 2차원 리스트 좋은 예
N = 4
M = 3

arr = [[0]*M for _ in range(N)]
print(arr)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [19]:
# 2차원 리스트 초기화 나쁜 예

N = 4
M = 3
arr = [[0]*M]*N
print(arr)

arr[1][1] = 5
print(arr)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

2차원 리스트 초기화 시 나쁜 예시로 작성한다면, 주소값이 복사되어 생성되는 것이기 때문에 위 셀과 같이 하나의 값만 바뀌는 것이 아니라 해당하는 모든 값이 바뀐다.

### 리스트 관련 메서드

* append(): 리스트.append(값)
* sort(): 리스트.sort(). 원래 리스트가 변경
* sorted(): sorted(리스트). 정렬된 리스트의 결과를 반환. 원래 리스트는 변경 없음.
* reverse(): 리스트.reversed(). 리스트의 원소의 순서를 모두 뒤집어 놓는다. 정렬이 아님.
* insert(): 리스트.insert(인덱스, 값)
* count(): 리스트.count(특정 값). 리스트 내의 특정 값의 개수를 반환
* remove(): 리스트.remove(특정 값). 특정 값을 제거. 다만 특정 값이 여러 개일때는 하나만 제거.

In [20]:
a = [5, 2, 4, 6, 8]
a.remove(4)
print(a)

[5, 2, 6, 8]

In [21]:
# 리스트 내 특정 값 모두 제거
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

### 사전 자료형

dict는 해시 테이블을 이용하므로 데이터의 검색 및 수정에 있어서 O(1)의 시간에 처리 할 수 있다.

### 집합 자료형

흔히 어떤 값이 존재하는지 여부를 찾을 때 사용된다.

dict와 마찬가지로 O(1)의 시간 복잡도를 가진다.

list나 tuple은 데이터의 개수(길이)만큼 시간 복잡도를 가진다.

* 새로운 원소 추가: 세트.add(값)

* 새로운 원소 여러 개 추가: 세트.update([값1, 값2])

In [23]:
a = {1,2,3}

print(2 in a)

True

# 1시간 59분 람다 표현식부터!!!